<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="shortcut icon" href="~/Content/Theme/Images/placeholder.gif" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-color:#fbf9ef">
    <nav class="navbar navbar-expand-lg navbar-light font-weight-bold py-3">
        <a class="navbar-brand" href="/">
            <img src="~/Content/Theme/Images/logo.png" />
            Mvc Music Store
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/store">Store</a>
                </li>
                
                @{ Html.RenderAction("GenrePartial", "Home", new { area = "" }); }

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="cart-items">2</span>
                    </a>
                </li>
                
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </nav>
    
    <div class="container content">
        @RenderBody()
    </div>

    <!-- Footer -->
    <footer class="py-3 border-top">
        <div class="container">
            <p class="m-0 text-center text-dark small">Copyright &copy; Your Website 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
