@model MvcMovieStore.Areas.Admin.Models.GenreModel
@{
    ViewBag.Title = "Genres";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Create Genre</h5>
            </div>
            <div class="card-body card">

                @using (Html.BeginForm("Add", "Genres", FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name ..." } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Description ..." })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Submit" /> 
                    </div>
                }

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="table-warning text-center">
                    <td>Name</td>
                    <td>Description</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Genres.Any())
                {
                    foreach (var genre in Model.Genres)
                    {
                        <tr id="id_@genre.Id" data-id="@genre.Id">
                            <td>@genre.Name</td>
                            <td>@genre.Description</td>
                            <td class="text-center">
                                <button data-id="@genre.Id" class="btn btn-danger btn-sm btn-delete">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="2" class="text-center">You do not have any genres</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

@section scripts {
    
    <script>

        $(function(){

            $('.btn-delete').click(function() {

                var id = $(this).attr('data-id');

                var url = '/admin/genres/Remove';

                $.post(url,
                    {
                        id: id
                    }, function(data){
                        $('tr#id_' + id).fadeOut("slow");
                    })
            });

        })

    </script>

}